.experience {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.exp-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1360px;
}

.exp-navigate {
  overflow-x: auto; 
  white-space: nowrap; 
}

.exp-link {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(179, 179, 186, 1);
  text-decoration: none;
  display: inline-block; 
  margin-right: 30px; 
  white-space: nowrap; 
  transition: color 5s;
}

.exp-navigate::before {
  content: ''; 
  display: block;
  width: 20px; 
  height: 100%; 
}

.exp-link:hover {
  color: rgba(240, 20, 90, 1);
}

.exp-link:first-of-type {
  margin-left: -10px;
}

.divided-line {
  border-top: 4px solid #FFFFFF4D;
  width: 100%;
}

.exp-h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.exp-text {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}



@media (min-width: 768px) {
  .exp-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .exp-navigate {
    padding-bottom: 60px;
  }

  .exp-link{
  font-size: 38px;
  line-height: 46px;
  }

  .exp-h2 {
    font-size: 30px;
    line-height: 37px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin:0;
  }

}

@media (min-width: 1024px) {

  .exp-h2 {
    padding-top: 0;
  }

  .exp-wrapper {
    display: grid;
    grid-template-columns: 1fr 4px 1fr; 
    align-items: start; 
  }
  
  .exp-navigate {
    grid-column: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
    padding-right: 60px;
    padding-bottom: 0;
    justify-content: center;
  }
  
  .divided-line {
    grid-column: 2; 
    height: 100%; 
    border: none; 
    border-left: 4px solid #FFFFFF4D; 
    
  }
  
  .exp-container {
    grid-column: 3; 
    padding-left: 60px;
    display: flex; 
    justify-self: center; 
    align-self: center;
    flex-direction: column;  
  }
  
  .exp-link{
    padding-bottom: 30px;
  }
}