.collab-wrapper {
  margin-left: 0;
  margin-right: 0;
}

.trust {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  color: #323264;
  margin-bottom: 30px;
}


.collaboration {
  background-color: #FFFFFF;
}

.partners {
  display: grid;
}

.collab {
  display: flex;
  justify-content: center;
  align-items: center;

    img{
      display: block;
      width: 100%;
      height:100%;
  }
}

@media(max-width: 768px){
  .partners a:nth-child(n+7) img{ 
    display: none;
  }
} 

@media (min-width: 768px) {
    .partners {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 3fr);
    }
}

@media (min-width: 1920px) {
  .collaboration {
    padding: 0 100px;
  }

  .partners {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    overflow: hidden;
  }
}


@media (min-width: 1920px) {
  .collab-wrapper {
    max-width: 1720px;
    margin-left: 0;
    margin-right: 0;
  }
}