@import url('./normalize.css');
@media (min-width:375px) {

  * {
    box-sizing: border-box;
  }

  body {
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }

  .wrapper {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {

  }

  .header-row {
    display: flex;
    justify-content: space-between;
  }

  .header-row-top {
    align-items: center;
    margin-bottom: 10px;
  }

  .links-langueges {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
  }

  .services-link {
    color: #24A3FF;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom:10px;
  }

  .next-link::after {
    content: '';
    background-image: url('../images/next.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 9px;
  }

h1 {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color:#F0145A;
}

.panel {
  display: inline-grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #24A3FF;
}

.description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fff;
}

}

