@import url('./normalize.css');
@import url('./fonts/stylesheet.css');
@import url('./header.css');
@import url('./panel.css');
@import url('./comanda.css');
@import url('./publications.css');
@import url('./partners.css');

* {
  box-sizing: border-box;
}
  

.wrapper {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.solutions {
  color: #FFFFFF;
  text-transform: lowercase;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  padding: 130px 30px 160px 30px;
}

.footer {
  background-color: rgba(245, 245, 250, 1);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-row-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

address p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(50, 50, 100, 1);
  margin: 0;
}

.address-inline{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


address a {
  text-decoration: none;
  font-family: Montserrat;
}

.address-on-map {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(36, 163, 255, 1);
}

.footer-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

.footer-phone-number {
  color: rgba(70, 70, 110, 1);
}

.footer-email {
  color: rgba(36, 163, 255, 1);
}

.footer-rights {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(179, 179, 186, 1);
  margin-top: 30px;
  margin-bottom: 0;
}

@media(max-width: 768px){
  .partners a:nth-child(n+7) img{ 
    display: none;
  } 

}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .panel {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
  }
  
  .partners {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 3fr);
  }

  .comanda-wrapper{
    padding: 60px;

  }

  .grid-item-a, .grid-item-b {
    grid-column: span 1; 
  }
  
  .grid-item-c {
    grid-column: span 2; 
  }

  .wrapper-publications {
    padding-left: 60px;
    padding-right: 60px;
  }

  
  .footer-flex {
    display: flex;
    justify-content: space-between;
  }

  .footer-row-top {
    justify-self: flex-start;
  }

  .footer-row-bottom {
    justify-self: flex-end;
    align-self: baseline;
  }

  .address-inline-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .address-inline-three {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center; 
    align-items: center; 
  }

  .footer-rights {
    margin-top: 0;
  }

  .address-circle::after {
      content: '';
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px;
      background-color: rgba(179, 179, 186, 1);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block; 
      background-position: center;
  }
}

@media (min-width: 1024px) {

  .panel {
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .comanda-columns {
    display: grid;
    grid-template-columns: 400px auto;
    align-items: stretch;

    img {
      height: 528px;
    }
  }
 
  .comanda-credo {
    font-size: 38px;
    margin-top: 0;
    line-height: 46.32px;
  }

  .comanda-info {
    max-height: 528px;
  }

  .comanda-services-link {
    padding-bottom: 5px;
  }

  .publications{
    padding: 30px 0;
  }

  .publications-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .publication-item{
    grid-column: unset;
  }
}


@media (min-width: 1440px) {
  .comanda-columns img{
    height: 344px;
  }

  .comanda-info{
    max-height: 344px;
  }

}

@media (min-width: 1920px) {

  .panel {
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:30px;
  }

  .collaboration {
    padding: 0 100px;
  }

  .partners {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    overflow: hidden;
  }

  .comanda-wrapper {
      padding:60px 160px;
    }

  .comanda-columns {
    width: 100%;
    padding-top: 0;
  }
  
  .comanda-info {
    max-height: 298px;
  }

  .comanda img {
    height: 298px;
  }

  .publications.wrapper {
    padding: 0;
  }

  .wrapper-publications {
    max-width: 1920px;
    padding-left: 160px;
    padding-right: 160px;
  }
}



