@import url("./normalize.css");
@import url("./fonts/stylesheet.css");
@import url("./header.css");
* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.solutions {
  color: #FFFFFF;
  text-transform: lowercase;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  padding: 130px 30px 160px 30px;
}

h1 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.75px;
  text-align: left;
  color: #F0145A;
  margin: 3px 0px 30px 0px;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.services {
  position: relative;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-top: 30px;
  padding-bottom: 60px;
}

.services::after {
  content: "";
  position: absolute;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.services::before {
  content: "";
  position: absolute;
  background-color: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.panel-h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #24A3FF;
}

.panel-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fff;
}

img.square {
  width: 64px;
  height: 64px;
}

.panel-square {
  background-color: #FFFFFF;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  padding: 14px 14px;
}

.trust {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  color: #323264;
  margin-bottom: 30px;
}

.collaboration {
  background-color: #FFFFFF;
}

.partners {
  display: grid;
}

.collab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collab img {
  display: block;
  width: 100%;
  height: 100%;
}

.comanda-wrapper {
  padding: 30px;
}

.comanda-columns {
  margin-top: 30px;
  border-radius: 12px;
}
.comanda-columns img {
  width: 100%;
  object-fit: cover;
  background: rgb(237, 237, 247);
  display: block;
}

.comanda-info {
  padding: 30px;
  background: rgb(237, 237, 247);
}

.comanda-credo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.comanda-name {
  color: #B3B3BA;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.comanda-profession {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #B3B3BA;
}

.comanda-slider-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slider-link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(36, 163, 255);
  margin-right: 15px;
  text-decoration: none;
  opacity: 0.2;
}

.slider-link:hover {
  background-color: rgb(36, 163, 255);
  opacity: unset;
}

.slider-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.publications {
  background-color: rgb(245, 245, 250);
  padding-top: 30px;
}

.wrapper-publications {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.publications-link {
  color: #24A3FF;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.publications-link::after {
  content: "";
  background-image: url("./images/Arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  width: 12px;
  height: 12px;
}

.public-credo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-top: 0px;
  color: transparent;
}

.publications-container {
  display: grid;
  gap: 30px;
}
.publications-container img {
  width: 100%;
  object-fit: cover;
}

.publication-item {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.pub-wrapper {
  padding: 30px;
}

.pub-blue {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(36, 163, 255);
}

time {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
  color: rgb(179, 179, 186);
}

.pub-description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .partners a:nth-child(n+7) img {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .panel {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
  }
  .partners {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 3fr);
  }
  .comanda-wrapper {
    padding: 60px;
  }
  .grid-item-a, .grid-item-b {
    grid-column: span 1;
  }
  .grid-item-c {
    grid-column: span 2;
  }
  .wrapper-publications {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .panel {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .comanda-columns {
    display: grid;
    grid-template-columns: 400px auto;
    align-items: stretch;
  }
  .comanda-columns img {
    height: 528px;
  }
  .comanda-credo {
    font-size: 38px;
    margin-top: 0;
    line-height: 46.32px;
  }
  .comanda-info {
    max-height: 528px;
  }
  .comanda-services-link {
    padding-bottom: 5px;
  }
  .publications {
    padding: 30px 0;
  }
  .publications-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .publication-item {
    grid-column: unset;
  }
}
@media (min-width: 1920px) {
  .panel {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .collaboration {
    padding: 0 100px;
  }
  .partners {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    overflow: hidden;
  }
  .comanda-wrapper {
    padding: 60px 160px;
  }
  .comanda-columns {
    width: 100%;
    padding-top: 0;
  }
  .comanda-info {
    max-height: 298px;
  }
  .comanda img {
    height: 298px;
  }
  .publications.wrapper {
    padding: 0;
  }
  .wrapper-publications {
    max-width: 1920px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
